{% extends "static_notebook.html" %}
{% block base_css  %}
<link href="{{pathto('_static/css/font-awesome.min.css', 1)}}" rel="stylesheet">
<link href="{{pathto('_static/css/bootstrap.min.css', 1)}}" rel="stylesheet">
<link href="{{pathto('_static/css/bootstrap-responsive.min.css', 1)}}" rel="stylesheet">
<link href="{{pathto('_static/css/pygments.css', 1)}}" rel="stylesheet">
<link href="{{pathto('_static/css/ipython.min.css', 1)}}" rel="stylesheet">
<link href="{{pathto('_static/css/nbviewer.css', 1)}}" rel="stylesheet">
{% endblock %}

{% block base_js %}
<script src="{{pathto('_static/js/jquery.min.js', 1)}}" type="text/javascript"></script>
<script src="{{pathto('_static/js/bootstrap.min.js', 1)}}" type="text/javascript"></script>
<script src="{{pathto('_static/js/bootstrap-collapse.js', 1)}}" type="text/javascript"></script>
<script src="{{pathto('_static/js/require.js', 1)}}" type="text/javascript"></script>
<script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
{% endblock %}
