{% macro head_link(url, name, icon=None, download=False) -%}
   <li>
        <a href="{{url}}" title="{{name}}" {%if download %}download{% endif %}>
           {% if icon %}
            <span class='fa fa-{{icon}} fa-2x menu-icon'></span>
            <span class='menu-text'>{{name}}</span>
           {% else %}
            <span>{{name}}</span>
           {% endif %}
       </a>
   </li>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if description %}
    <meta name="description" content="{{ description }}">
    {% else %}
    <meta name="description" content="">
    {% endif %}

    {% if author %}
    <meta name="author" content="{{ author }}">
    {% else %}
    <meta name="author" content="">
    {% endif %}

    {% block base_css %}
    <link href="{{in_static('css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{in_static('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{in_static('css/bootstrap-responsive.min.css')}}" rel="stylesheet">
    <link href="{{in_static('css/pygments.css')}}" rel="stylesheet">
    <link href="{{in_static('css/ipython.min.css')}}" rel="stylesheet">
    <link href="{{in_static('css/nbviewer.css')}}" rel="stylesheet">
    {% endblock %}
    {% for css_url in css_urls %}
      <link href="{{css_url}}" rel="stylesheet">
    {% endfor %}

    {% block base_js %}
    <script src="{{in_static('js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{in_static('js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{in_static('js/bootstrap-collapse.js')}}" type="text/javascript"></script>
    <script src="{{in_static('js/require.js')}}" type="text/javascript"></script>
    <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    {% endblock %}
    {% for js_url in js_urls %}
      <script src="{{js_url}}" type="text/javascript"></script>
    {% endfor %}

    <script type="text/javascript">
    init_mathjax = function() {
        console.log(window.MathJax);
        if (window.MathJax) {
            // MathJax loaded
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                    processEscapes: true,
                    processEnvironments: true
                },
                displayAlign: 'center',
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 0}},
                    linebreaks: { automatic: true }
                }
            });
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        }
    }
    init_mathjax();
    </script>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

  <!-- Navbar
  ================================================== -->
    <div id='menubar' class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
                {{ head_link(home.url, home.text, home.icon) }}
            </ul>
            <ul class="nav pull-right">
                {% if (downloads | length) == 1 %}
                {% for name, url in downloads.items() %}
                <li><a href="{{url}}">{{name}}</a></li>
                {% endfor %}
                {% else %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle sr-only"
                        type="button"
                        id="download-menu"
                        data-toggle="dropdown">
                        Downloads
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        role="menu"
                        aria-labelledby="download-menu">
                        {% for name, url in downloads.items() %}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                            href="{{url}}">{{name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

     <!-- Main body
     ================================================== -->

      {% block nbbody %}
        {{ nbhtml | safe }}
      {% endblock %}

     <!-- Footer
     ================================================== -->
      {% block footer %}
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        {% if date %}
        <p class="text-muted">
            Rendered on: {{date}}
        </p>
        {% endif %}
      </footer>
      {% endblock footer %}

    </div><!-- /container -->

  </body>
</html>
